<h1>Create Giftcard</h1>

<form action="/issue" method="post" accept-charset="utf-8"
      enctype="application/x-www-form-urlencoded">

    <label for="id">Card Id</label>
    <input id="id" name="id" type="text" value="" autofocus/>
    <label for="amount">Amount</label>
    <input id="amount" name="amount" type="number" value=""/>

    <input type="submit" value="Create"/>
</form>

<hr/>

<h1>Giftcards</h1>

{% for card in giftcards %}
<div style="border: 1px solid #eee; padding:10;margin: 5; width: 300px; float: left">
<p><strong>{{card.id}}</strong></p>
<p>Initial: {{card.initialAmount}} </p>
<p><b>Remaining: {{card.remainingAmount}}</b></p>
<form action="/redeem" method="post" accept-charset="utf-8"
      enctype="application/x-www-form-urlencoded">

    <label for="id">Card Id</label>
    <input id="id" name="id" type="hidden" value="{{card.id}}"/>
    <label for="amount">Amount</label>
    <input id="amount" name="amount" type="number" value=""/>

    <input type="submit" value="Redeem"/>
</form>

{% if card.isActive %}
<form action="/cancel" method="post" accept-charset="utf-8"
      enctype="application/x-www-form-urlencoded">
    <input id="id" name="id" type="hidden" value="{{card.id}}"/>
    <input type="submit" value="Cancel Card"/>
</form>
{% endif %}

</div>
{% endfor %}